* {
  box-sizing: border-box;
  transition: 0.5s;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #5b9d32;
  font-weight: normal;
  font-size: 15px;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  color: #5b9d32;
}

li {
  padding: 5px;
}

input,
select {
  width: 100%;
  height: 30px;
  margin: 0 5px;
  padding: 5px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: auto;
  padding: 0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  border: 1px solid #8fbe6b;
  padding: 6px 12px;
  margin: 0 5px;
  border-radius: 4px;
  background-color: #5b9d32;
  color: white;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 15px;
  color: #999999;
}

table {
  width: 100%;
  height: 100%;
  margin: 15px 0;
  padding: 30px 0;
  border-collapse: collapse;
}

th {
  background-color: #5b9d32;
  color: white;
  white-space: normal;
}

th,
td {
  font-size: 15px;
  padding: 15px 5px;
  text-align: center;
  border-bottom: 1px solid #5b9d32;
}

.edit {
  width: 70px;
  border-bottom: none;
}

.edit button {
  padding: 5px;
  margin: 0;
}

.edit img {
  width: 20px;
  fill: white;
}

.ok {
  width: 70px;
  border-bottom: none;
}

.ok button {
  padding: 5px;
  margin: 0;
}

.ok img {
  width: 20px;
  fill: white;
}

.delete {
  width: 70px;
  border-bottom: none;
}

.delete button {
  padding: 5px;
  margin: 0;
}

.delete img {
  width: 20px;
  fill: white;
}

.add {
  width: 70px;
}

.add button {
  padding: 5px;
  margin: 0;
}

.add img {
  width: 20px;
  fill: white;
}

.alert {
  right: 0;
  bottom: 0;
  opacity: 0;
  margin: 30px;
  position: fixed;
  padding: 15px 30px;
  z-index: 999;
  background-color: #5b9d32;
  border-radius: 4px;
  animation: alert 2.5s ease alternate-reverse 2;
  display: none;
  color: white;
}

@keyframes alert {
  0%,
  60% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(200px);
    opacity: 0;
  }
}

.pop-up #close-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pop-up #close-btn span {
  width: 100%;
  height: 5px;
  display: block;
  position: absolute;
  background-color: white;
}

.pop-up #close-btn span:first-child {
  transform: rotate(45deg);
}

.pop-up #close-btn span:last-child {
  transform: rotate(-45deg);
}

.pop-up.locked {
  display: flex;
}

.pop-up {
  width: 100%;
  display: none;
  height: 100vh;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: white;
}

.pop-up-updates {
  background-color: rgba(0, 0, 0, 0.8);
}

#table-updates {
  width: 80%;
  display: flex;
  justify-content: center;
  background-color: white;
  color: #333333;
}

#table-updates tbody {
  width: 100%;
  overflow-y: scroll;
}

#table-updates td {
  padding: 15px;
}

.pop-up-autorization form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pop-up-autorization input,
.pop-up-autorization button {
  width: 50%;
  height: 50px;
  margin: 10px 0;
}

#root {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 900px;
  padding: 15px;
  margin: 0 auto 0 auto;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #eff0f1;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-of-airport {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5b9d32;
}

.name-of-airport img {
  height: 50px;
  margin-right: 15px;
}

.login .users-name button {
  width: auto;
  height: auto;
  padding: 2px;
  margin-left: 15px;
}

.login .users-name img {
  width: 30px;
  fill: white;
}

.login-updates {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.users-name {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #5b9d32;
  font-weight: 700;
  font-size: 20px;
}

.main {
  width: 100%;
  height: 100%;
}

.nav-div {
  width: 100%;
  height: 50px;
  display: flex;
}

.nav-div > span {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  background-color: #eff0f1;
  color: #999999;
}

.nav-div img {
  width: 20px;
  margin: 0px 15px;
  cursor: pointer;
}

.nav-div span.active {
  background-color: white;
  color: black;
}

.content-div {
  width: 100%;
  height: 100%;
}

.content-div > div {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
}

.content-div > div.active {
  display: flex;
}

.search-field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-field form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#table-search {
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
}

#table-search button {
  width: 30px;
  height: 30px;
  padding: 4px 5px 5px 4px;
  margin: 0;
}

#table-search img {
  width: 20px;
  fill: white;
}

.analysis > *:not(h2) {
  margin-left: 30px;
}

.analysis > div {
  border-left: 1px solid #5b9d32;
}

.analysis > div > * {
  padding-left: 40px;
}

.procent-wrapper {
  width: 100%;
  height: 30px;
  background-color: #5b9d3238;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  margin: 10px 0;
}

.procent {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
  background-color: #5b9d32;
  color: #144c0d;
  border-radius: 4px;
}

.schedule {
  width: 100%;
  height: 400px;
}
