body {
  font-family: Roboto;
  font-size: 15px; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 80px 30px 60px 30px; }

.page-wrapper {
  width: 100%;
  height: 100vh;
  position: relative; }

.overllay {
  z-index: -1; }

.home {
  z-index: 1; }

.aboutMe {
  z-index: 1; }

.mySkills {
  z-index: 1; }

.myWorks {
  z-index: 1; }

.contacts {
  z-index: 1; }

.main-menu {
  width: 100%;
  height: 80px;
  position: absolute;
  padding: 15px 60px;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2; }
  .main-menu--logo {
    width: 45px;
    height: 45px; }
  .main-menu--list {
    width: 50%;
    height: 100%;
    font-weight: 300;
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .main-menu--list-item {
      color: white; }
      .main-menu--list-item:hover a {
        color: #b19c69; }

.button-menu {
  width: 70px;
  height: 70px;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  display: none; }
  .button-menu-line {
    height: 5px;
    background-color: white;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }

.active-button-menu .page-wrapper {
  overflow: hidden; }
  .active-button-menu .page-wrapper .main-menu--list {
    width: 100%;
    height: 100vh;
    font-size: 4rem;
    position: fixed;
    margin: -30px 0 0 -60px;
    background-color: rgba(177, 156, 105, 0.8);
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1; }
    .active-button-menu .page-wrapper .main-menu--list .main-menu--list-item {
      width: 100%;
      display: -webkit-flex;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 60px 0; }
      .active-button-menu .page-wrapper .main-menu--list .main-menu--list-item:hover {
        background-color: #b19c69; }
      .active-button-menu .page-wrapper .main-menu--list .main-menu--list-item a {
        color: white; }
        .active-button-menu .page-wrapper .main-menu--list .main-menu--list-item a:hover {
          color: white; }
  .active-button-menu .page-wrapper .button-menu {
    z-index: 2; }
    .active-button-menu .page-wrapper .button-menu .button-menu-line:nth-child(1) {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      margin-top: 15px; }
    .active-button-menu .page-wrapper .button-menu .button-menu-line:nth-child(2) {
      -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
              transform: rotate(135deg);
      margin-top: -50px; }
    .active-button-menu .page-wrapper .button-menu .button-menu-line:nth-child(3) {
      display: none; }

.overllay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  font-size: 1rem;
  background-image: url(../img/background-mobile.jpg);
  background-size: cover;
  background-position: center; }
  .overllay video.background-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0); }

.home {
  width: 100%;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(3, 5, 45, 0.6); }
  .home .header-container {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .home .header-container--main-text {
      width: 350px;
      height: 350px; }
