html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    font-family: sans-serif;
}

a {
    color: #419FD9;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 0 15px 0;
}

textarea {
    resize: none;
    width: 100%;
    min-height: 100px;
    margin-top: 10px;
    margin-bottom: 15px;
}

input {
    margin-top: 10px;
    margin-bottom: 15px;
}

button {
    width: 150px;
    height: 50px;
    background-color: #419FD9;
    border: none;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.wrapper {
    position: relative;
    max-width: 960px;
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-wrapper {
    width: 240px;
    height: 100%;
    background-color: #fff;
    box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.1);
}

.face-name {
    padding: 30px;
    background-color: #419FD9;
    text-align: center;
    color: #fff;
    font-size: 25px;
}

.face {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 15px;
}

.other-informations {
    padding: 30px;
    font-size: 14px;
}

.sidebar-block {
    padding: 30px 0 30px 0;
}

.sidebar-block .title {
    font-size: 19px;
    margin: 0 0 15px 0;
}

.main-wrapper {
    max-width: 720px;
    width: 100%;
    height: 100%;
}

.main-block {
    padding: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.main-block .title {
    color: #419FD9;
    margin-bottom: 20px;
}

.main-block .additinal {
    color: #4C4D52;
}