:root {
  --main-color: #419fd9;
  --back-color: #f5f5f5;
  --border-color: rgba(0, 0, 0, 0.1);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  opacity: 0;
  background-color: var(--back-color);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

a {
  color: var(--main-color);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 0 15px 15px;
}

textarea {
  resize: none;
  width: 100%;
  min-height: 100px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: solid 2px var(--border-color);
  font-size: 14px;
  font-family: sans-serif;
}

input {
  width: 100%;
  height: 30px;
  border: solid 2px var(--border-color);
  outline: none;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 15px;
}

[class*="message"] {
  transition: .5s;
  display: block;
  color: tomato;
  margin-bottom: 15px;
}

.button {
  width: 150px;
  height: 50px;
  background-color: var(--main-color);
  border: none;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
}

th {
  color: var(--main-color);
}

table tr:nth-child(2n + 1) {
  background-color: #ffffff;
}

table tr:nth-child(2n) {
  background-color: var(--back-color);
}

td,
th {
  padding: 10px;
}

.pop-up-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, .9);
  transition: .5s;
}

.pop-up-wrapper img {
  width: auto;
  height: 60%;
  background-color: white;
  transition: .5s;
}

.pop-up-wrapper .close-button {
  position: absolute;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;
  width: 50px;
  height: 50px;
  transition: .5s;
}

.close-button span {
  width: 100%;
  height: 5px;
  cursor: pointer;
  display: block;
  position: absolute;
  background-color: var(--main-color);
  transition: .5s;
}

.close-button span:nth-child(1) {
  transform: rotate(45deg);
}

.close-button span:nth-child(2) {
  transform: rotate(-45deg);
}

.wrapper {
  width: 960px;
  background-color: #ffffff;
  position: relative;
  display: flex;
  box-shadow: 0px 2px 4px var(--border-color);
}

.sidebar-wrapper {
  position: relative;
  width: 240px;
  background-color: #fff;
  border-left: 1.4px solid var(--border-color);
  transition: .5s;
}

.face-name {
  padding: 30px;
  background-color: var(--main-color);
  text-align: center;
  color: #fff;
  font-size: 25px;
  display: flex;
  flex-direction: column;
}

.face {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 15px;
}

.other-informations {
  padding: 30px;
  font-size: 14px;
}

.sidebar-block {
  padding: 30px 0 30px 0;
}

.sidebar-block .title {
  font-size: 19px;
  margin: 0 0 15px 0;
}

body.scrolled .main-wrapper {
  width: 100%;
}

body.scrolled .sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border: none;
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

body.scrolled .face-name {
  flex-direction: row;
  height: 100%;
  width: 300px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

body.scrolled .face {
  width: 40px;
  height: 40px;
  margin: 0 15px 0 0;
}

body.scrolled .other-informations {
  padding: 0;
  width: calc(100% - 300px);
  height: 100%;
}

body.scrolled .sidebar-block {
  padding: 0;
  width: 100%;
  height: 100%;
}

body.scrolled .sidebar-block ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

body.scrolled .sidebar-block ul li {
  margin: 0;
}

.main-wrapper {
  width: 720px;
  height: 100%;
  transition: 0.5s;
}

.main-block {
  padding: 30px;
  border-bottom: 1.4px solid var(--border-color);
  transition: .2s;
  height: auto;
}


div.main-block:not(.cv):not(.contact-form):not(.slider-wrapper) {
  max-height: 60px;
  overflow: hidden;
  cursor: pointer;
}

div.main-block:not(.cv):not(.contact-form):not(.slider-wrapper):hover {
  transition: .2s;
  max-height: 80px;
}

.title {
  color: var(--main-color);
  margin-bottom: 20px;
}

.main-block .information {
  opacity: .2;
  transition: .2s;
}

div.main-block:not(.cv):not(.contact-form):not(.slider-wrapper):not(.active):hover .information {
  opacity: .5;
}

body div.main-block.active {
  max-height: 500px !important;
}

body div.main-block.active .information {
  opacity: 1 !important;
}

.slider {
  max-width: 100%;
  position: relative;
  height: 300px;
  margin-bottom: 15px;
}

.slider .item img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.slider .prev,
.slider .next {
  cursor: pointer;
  position: absolute;
  text-align: center;
  top: 0;
  width: auto;
  height: 300px;
  padding: 0 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .prev img,
.slider .next img {
  width: 50px;
  height: 50px;
}

.slider .next {
  right: 0;
}

.slider .prev:hover,
.slider .next:hover {
  background-color: var(--main-color);
}

.slider-dots {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.slider-dots_item {
  cursor: pointer;
  height: 50px;
  width: 100px;
  margin: 0 10px;
  background-color: var(--border-color);
  transition: transform 0.5s;
  transform: translateX(0);
}

.slider-dots_item:hover {
  background-color: var(--main-color);
  opacity: .5;
}

.slider-dots_item.active {
  border: solid 2px var(--main-color);
}

.slider .item {
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}


@media screen and (max-width: 960px) {

  body div.wrapper {
    width: 100%;
    flex-direction: column-reverse;
    margin-left: 0;
  }

  body div.main-wrapper {
    width: 100%;
  }

  body div.sidebar-wrapper {
    width: 100%;
  }
}