/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  video.background-video {
    display: none;
  }

  html body {
    font-size: 35px;
  }

  .page-wrapper .home .header-container--main-text {
    width: 600px;
    height: 600px;
  }

  .page-wrapper .main-menu {
    height: 130px;
    padding: 30px 60px;
  }

  .page-wrapper .main-menu .main-menu--logo {
    width: 70px;
    height: 70px;
  }

  .page-wrapper .main-menu .main-menu--list {
    display: none;
  }

  .page-wrapper .button-menu {
    display: flex;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
