.main-menu-wrapper {
    width: 270px;
    height: auto;
    top: 30px;
    left: calc(50% - 600px - 50px);
    position: fixed;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}



.main-menu-wrapper li {
    margin: 0;
    position: relative;
    width: 100%;
}

.main-menu-wrapper a {
    padding: 20px;
    display: block;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    color: #419FD9;
}

.main-menu-wrapper span {
    height: 20px;
    padding: 20px;
    display: flex;
    text-align: left;
    color: #419FD9;
    cursor: default;
}

.main-menu-wrapper .burger {
    overflow: hidden;
    height: 60px;
    transition: 0.5s;
    background-color: #fff;
    z-index: 1;
}

.main-menu-wrapper .burger:hover {
    height: 240px;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.1);
  }

.main-menu-wrapper a.active {
    color: #FFFFFF;
    background-color: rgba(65, 159, 217, 1);
}

.main-menu-wrapper a:not(.active):hover {
    background-color: rgba(65, 159, 217, 0.8);
    color: #FFFFFF;
}