html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    font-family: sans-serif;

    /* IE */
    /* //color: white; */
}

/* Mozilla */
body,
x:-moz-any-link {
    color: blue;
}

h1,
h2,
a,
span,
p {
    voice-family: paul;
    stress: 20;
    richness: 90;
    volume: medium;
    speak: normal;
}

a {
    color: #419FD9;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 0 15px 15px;
}

textarea {
    resize: none;
    width: 100%;
    min-height: 100px;
    margin-top: 10px;
    margin-bottom: 15px;
}

input {
    margin-top: 10px;
    margin-bottom: 15px;
}

button {
    width: 150px;
    height: 50px;
    background-color: #419FD9;
    border: none;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}





.wrapper {
    width: 960px;
    margin-left: 240px;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-wrapper {
    width: 240px;
    background-color: #fff;
    border-left: 1.4px solid rgba(0, 0, 0, 0.1);
}

.face-name {
    padding: 30px;
    background-color: #419FD9;
    text-align: center;
    color: #fff;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}



.other-informations {
    padding: 30px;
    font-size: 14px;
}

.sidebar-block {
    padding: 30px 0 30px 0;
}



.main-wrapper {
    width: 720px;
    height: 100%;
}

.main-block {
    padding: 30px;
    border-bottom: 1.4px solid rgba(0, 0, 0, 0.1);
}



.main-block .additinal {
    color: #4C4D52;
}

@media all and (max-width: 920px) {
    body {
        flex-direction: column;
    }

    body div.main-menu-wrapper {
        width: 100%;
        position: relative;
        top: auto;
        left: auto;
    }

    body div.wrapper {
        width: 100%;
        flex-direction: column-reverse;
        margin-left: 0;
    }

    body div.main-wrapper {
        width: 100%;
    }

    body div.sidebar-wrapper {
        width: 100%;
    }
}

@media print {
    body {
        flex-direction: column;
    }

    body,
    .title,
    .active,
    span,
    p,
    a {
        color: black !important;
    }

    body div.main-menu-wrapper {
        width: 100%;
        position: relative;
        top: auto;
        left: auto;
    }

    body div.wrapper {
        width: 100%;
        flex-direction: column-reverse;
        margin-left: 0;
    }

    body div.main-wrapper {
        width: 100%;
    }

    body div.sidebar-wrapper {
        width: 100%;
    }
}